@model Statute
@{
}

<div class="row">
    <div class="col-xs-12">
        Zusammensetzung
    </div>
</div>
@foreach (string executiveType in Program.Executives)
{
    <div class="row">
        <div class="col-xs-offset-3 col-xs-1">
            <input type="checkbox" value="@executiveType" />
        </div>
        <div class="col-sm-8">
            @executiveType
        </div>
    </div>

}
<div class="row">
    <div class="col-xs-offset-3 col-xs-1">
        <input type="checkbox" value="others" />
    </div>
    <div class="col-xs-5">
        <input placeholder="Andere Personen" />
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <b>Vorstandsversammlung</b>
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
        Beschlussfähig bei
    </div>
    <div class="col-xs-2">
        <input id="miminalMembersRequired" type="number" placeholder="Anzahl" asp-For="ExecutiveInformation.ExecutivesRequiredForQuorum" />
    </div>
    <div class="col-xs-6">
        Teilnehmern
    </div>

</div>
<div class="row">
    <div class="col-xs-3">
        Mehrheit bei
    </div>
    <div class="col-xs-9 col-md-6">
        <select>
            @foreach (string popularVoteOption in Program.PopularVoteOptions)
            {
                <option value="@popularVoteOption">@popularVoteOption</option>
            }
        </select>
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
        Einberufungsfrist (Wochen):
    </div>
    <div class="col-xs-9 col-md-6">
        <input type="number" />
    </div>
</div>