@model GeneralMeetingInformation
@{

}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            Mitglieder können sich bei Abwesenheit vertreten lassen
        </div>
        <div class="col-sm-2">
            <button id="canBeRepresented" onclick="toggleRepresentation(true)" checked>Ja</button>
        </div>
        <div class="col-sm-2">
            <button id="cannotBeRepresented" onclick="toggleRepresentation(false)">Nein</button>
        </div>
    </div>
</div>