@model PurposeInformation
@{

}
<div class="paragraph-section" id="purpose">
    <div class="row">
        <div class="col-xs-3">
            Zweck
        </div>
        <div class="col-xs-9">
            <select value="@Model.PurposeType">
                @foreach (string purposeType in Program.PurposeTypes)
                {
                    <option value="@purposeType">@purposeType</option>}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            Freie Beschreibung
        </div>
        <div class="col-xs-12 col-sm-9">
            <textarea style="height: 140px;" value="@Model.PurposeFreeText"></textarea>
        </div>
    </div>
</div>
