@model TerminationInformation
@{

}

<div class="container">
    <script>
        function hideOtherClubName() {
            var terminationConsequence = document.getElementById("terminationConsequence").value;
            document.getElementById("otherClubName").hidden = (terminationConsequence == "TODO");

        }
    </script>
    <div class="row">
        <div class="col-sm-3">
            Im Falle einer Auflösung:
        </div>
        <div class="col-sm-6">
            <select id="terminationConsequence" onchange="hideOtherClubName()">
                @foreach (var option in Program.Executives)
                {
                    <option value="@option">@option</option>
                }
            </select>
        </div>
    </div>
    <div class="row" id="otherClubName">
        <div class="col-sm-3">
            Anderer Verein:
        </div>
        <div class="col-sm-6">
            <input type="text" value="" />
        </div>
    </div>
</div>