@{
}

<div class="content">
    <div class="row">
        <div class="col-xs-5">
            <div style="height: 100%; vertical-align: middle;">
                <img src="https://www.alifinstitute.org/wp-content/uploads/2018/03/non-profit.jpg" style="width: 100%; margin-top: 70px;">
            </div>

        </div>
        <div class="col-xs-6">
            <h2>How to get your non-profit organization off the ground</h2>
            <h3>1. Find a mission</h3>
            <h3>2. Bring together at least 7 like minded people</h3>
            <h3>3. Put together your statute in less than 2 minutes</h3>
            <h4>Be sure to receive your status as non profit by using our <a href="/home/index">generator</a>!!</h4>
            <h3>4. Send your statute to your local tax authority for a pre-check</h3>
            <h4>Click here to find your <a href="https://www.bzst.de/DE/Service/GemFa/finanzamtsuche_node">responsible tax office</a> or use the <a href="/home/index">statue generator</a>, whih tells you where to send your final statute</h4>
            <h3>5. Go to a notary (<a href="">find one in your region</a>) and register your organization</h3>
            <center><h1><a href="/home/index">Let's GO!</a></h1></center>
        </div>
    </div>

</div>
